
header{
    background-color: greenyellow;
    margin: 0px 0px 0px;
    padding-top:20px;
    padding-bottom: 20px;

}
header,h1{
    text-align: center;
}
.navegacion{
    background: rgb(3, 99, 255);
    margin-right: 2%;
    margin-left: 2%;
}
.navegacion, ul, a, li{
    list-style: none;
    float: left;
    margin-right: 20px;
}